#dialog-confi {
    width: 300px;
    height: 135px;
    border: 2px solid #088be9;
    position: absolute;
    right: 10px;
    bottom: 0px;
    animation: drop 0.5s ease forwards;
    display: none;
}

@keyframes drop{
    0%  {opacity: 0}

    10%{transform: translateY(-5px)}
    20%{transform: translateY(-10px)}
    40%{transform: translateY(-20px)}
    50%{transform: translateY(-22px)}
    70%{transform: translateY(-32px)}
    100%{transform: translateY(-44px)}
}